<html>
<head><style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
   background-color: #6f4e37;
}
li {
padding: 14px 25px;
display: inline-block;

}
a{
 color: white;
text-decoration: none;
}
</style>
</head>
<body>
<ul>
<li></li><li></li><li></li><li></li><li></li><li></li><li></li>
  <li><a href="FoodOne.html">Home</a></li>
  <li><a href="Shop.html">Shop Locations</a></li>
  <li><a href="Coupon.html">Coupon</a></li>
  <li><a href="pcoupon.html">PCoupon</a></li>
  <li><a href="menu.html">Menu</a></li>
  </ul>

<img height="80%" width="100%"src="coffeebg.png">
<center>
<table>
  <tr>
  <th>
  <img width="500px" height="300px" src="main1.jfif">
  </th>
  <th>
  <pre>
  <h1><b>Premium Coffee Beans</b> </h1> 
  Vestibulum ante ipsum primis in faucibus orci <br> luctus et ultrices posuere cubilia Curae; 
  Suspendisse nec faucibus velit.<br> Quisque eleifend orci ipsum, a bibendum lacus suscipit sit. <br>
  Vestibulum ante ipsum primis in faucibus orci <br> luctus et ultrices posuere cubilia Curae; 
  Suspendisse nec faucibus velit.<br> Quisque eleifend orci ipsum, a bibendum lacus suscipit sit. <br>
  Vestibulum ante ipsum primis in faucibus orci <br> luctus et ultrices posuere cubilia Curae; 
  Suspendisse nec faucibus velit.<br> Quisque eleifend orci ipsum, a bibendum lacus suscipit sit. 
  </pre>
  </th>
  </tr>
  <tr>
  <th>
  <pre>
    <h1><b>Luxury Coffee Taste</b> </h1> 
  Vestibulum ante ipsum primis in faucibus orci <br> luctus et ultrices posuere cubilia Curae; 
  Suspendisse nec faucibus velit.<br> Quisque eleifend orci ipsum, a bibendum lacus suscipit sit. <br>
  Vestibulum ante ipsum primis in faucibus orci <br> luctus et ultrices posuere cubilia Curae; 
  Suspendisse nec faucibus velit.<br> Quisque eleifend orci ipsum, a bibendum lacus suscipit sit. <br>
  Vestibulum ante ipsum primis in faucibus orci <br> luctus et ultrices posuere cubilia Curae; 
  Suspendisse nec faucibus velit.<br> Quisque eleifend orci ipsum, a bibendum lacus suscipit sit. 
  </pre>
  </th>
  <th>
  <img width="500px" height="300px" src="cup.jpg">
  </th>
  </tr>
  </table>
  </center>
</body>
</html>