<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 0;
   background-color: purple;
}
li {
padding: 14px 25px;
display: inline-block;
}
a{
 color: white;
text-decoration: none;
}

th:hover {background-color: lavender;}

</style>
</head>
<body>
<ul>
  <li><a href="#Home">Home</a></li>
  <li><a href="#About">About Us</a></li>
  <li><a href="#Cat">Cats</a></li>
  <li><a href="#Dog">Dogs</a></li>
  <li><a href="#Volunteer">Volunteer</a></li>
  <li><a href="#Contact">Contact</a><li> 
  </ul>
<table align="center">
<tr>
<th rowspan="3"> Adopt Them <br>They Need Your<br>Care And Love.<br> 
  All Dogs And Cats <br> Adopted From Sydney<br> Dogs And Cats Home <br> Come Vet Checked,<br>Vaccinated, Flea And<br> Worm Treated, <br> Desexed And Microchipped. <br>
  If You’re Interested <br> In Adopting,  <br>click The Enquire Button <br> On An Animal's Profile.
</th>
<th><img src="both.jpg">
</th>
<th><img src="many.jpg">
</th>
<th><img src="cat.jpg">
</th>

</tr>

<tr>
<th><img src="boo.jpg">
</th>
<th><img src="love.jpg">
</th>
<th><img src="dogss.jpg">
</th>

</tr>

<tr>
<th colspan="3">
<img height="200" width="700"src="threec.jpg">
</th>
</tr>

</body>
</html>