<html>
    <head> 
            <script language="JavaScript" type="text/javascript">
                // create custom page and replace current document with it
                function rewritePage(form) {
                    // accumulate HTML content for new page
                    var newPage = "<html>\n<head>\n<title>Page for ";
                    newPage += form.name.value;
                    newPage += "</title>\n</head>\n<body bgcolor='lavenderblush'>\n";
                    newPage += "<h1>Hello, " + form.name.value + "!</h1>\n";
                    newPage += "<p>Thank you for applying as " + form.job.value + ", we will contact you soon on your email " + form.email.value + "</p>\n";
                    newPage += "<a style='text-decoration:none; color: black;' href='Home.html'>Go to Home!</a>\n";
                    newPage += "</body>\n</html>";
                    // write it in one blast
                    document.write(newPage);
                    // close writing stream
                    document.close( );
                }
                </script>
                
        <title>Apply page</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <style>
            .container {
                border-radius: 5px;
                background-color: #f4f4f4;
                padding: 20px;
                width: 15%;
                margin:auto;
                color:red;
                border:2px solid;
              }
            table{
                height: 30%;
                }
              
    </style></head>
    <body>
            <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Paid.html">Paid</a></li>
                    <li><a href="Free.html">Free</a></li>
                    <li><a href="AboutUs.html">About Us</a></li>
                    <li style="float:right;"><a href="LogIn.html">Login In</a></li>
                    <li style="float:right;"><a href="SignIn.html">Sign In</a></li>
            </ul>
        </br></br></br>
<div class="container">
   <h3><center>Apply Now</center> </h3>
<form action="Home.html">
<table>
    <tr>
        <td>
            <label> Name: </label><br>
            <input type="text" id="name" name="name" >
        </td>
    </tr>
    <tr>
        <td>
            <label> Email: </label> <br>
            <input type="text" id="email" name="email">
        </td>
    </tr>
    <tr>
        <td>
            <label> Contact Number: </label> <br>
            <input type="text" id="mob" name="mob">
        </td>
    </tr>
    <tr>
        <td>
            <label>select your job type:</label>
            <br>
            <select name="job" id="job">
            <option value="HR">HR</option>
            <option value="Web Developer">Web Developer</option>
            <option value="UX/UI Designer">UX/UI Designer</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                <br> <input type="button" value="Submit" onclick="rewritePage(this.form);">
            </center>
        </td>
    </tr>
</table>
</form>
</div>


</br></br></br></br></br></br></br>
<div class="footer">
        Copyright &copy; 2022 All rights reserved
        <a href="https://www.pinterest.com.au/" class="fa fa-pinterest fa "style="float: right; padding-top:5px; padding-right:50px;"></a>
        &nbsp &nbsp &nbsp 
        <a href="https://www.instagram.com/" class="fa fa-instagram fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
        &nbsp &nbsp &nbsp 
        <a href="https://twitter.com/" class="fa fa-twitter fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
        &nbsp &nbsp &nbsp 
        <a href="https://www.facebook.com/" class="fa fa-facebook fa" style="float: right; padding-top:5px; padding-right:50px;"></a>

</div>
</body>
</html>