<!DOCTYPE html>
<html>
    <head>
        <title> Home Page</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
    </head>
    <body><div class="nav">
            <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Paid.html">Paid</a></li>
                    <li><a href="Free.html">Free</a></li>
                    <li><a href="AboutUs.html">About Us</a></li>
                    <li style="float:right;"><a href="LogIn.html">Login In</a></li>
                    <li style="float:right;"><a href="SignIn.html">Sign In</a></li>
            </ul>
        </div>
        </br>
        <div class="con5">
            <table cellpadding="5" font-size="5" align="center" >
        <tr> 
            <th><img id="image" src="Images/Animal.png"> 
                <br>
                Animal Shelter
                <br>
                Animal 
                <br>
                Animal Shelter is a complete and free animals and pets
                <br>
                website template with unique features and sleek<br> web design.
                Create a page in a breeze and connect <br> individuals with 
                pets in the most convenient way.<u><i>free</i></u>
                <ul>
            <li><a target="_blank" href="Animals/Animal.html">  &nbsp;  &nbsp; &nbsp; &nbsp; Preview   &nbsp; &nbsp;&nbsp;&nbsp;  </a></li>
                </ul></th>
				<th><img id="image"  src="Images/Travel.png"> 
                <br>
				Travelers
                <br>
                Travel 
                <br> 
                If your life is full of adventures,<br>
				you might want to put them into compelling <br> content  
				with travel website template.<br>
                Make sure you utilize its full potential.<u><i>free</i></u>
                <ul>
            <li><a target="_blank" href="Travel/Traver.html">  &nbsp;  &nbsp; &nbsp; &nbsp; Preview   &nbsp; &nbsp;&nbsp;&nbsp;  </a></li>
                </ul></th>
            <th><img id="image" src="Images/Photo.png"> 
                <br>
                Photo   
                <br>
                Photography
                <br>
                As a photographer, this is your go-to free photo gallery
                <br>
				website template to push your works. It is simple to use for
                <br>
				starting a fresh new heights.It will help you differentiate
                <br>
                 yourself from the masses with its uniqueness.<u><i>free</i></u>
                <ul>
            <li>
            <a target="_blank" href="Hairsal/website.html">  &nbsp;  &nbsp; &nbsp; &nbsp; Preview  &nbsp;&nbsp; &nbsp; &nbsp;  </a></li>
            </ul>
           </th>
            </tr>
        </table>
            </div>
<br>            
            <div class="footer">
                        Copyright &copy; 2022 All rights reserved
                        <a href="https://www.pinterest.com.au/" class="fa fa-pinterest fa "style="float: right; padding-top:5px; padding-right:50px;"></a>
                        &nbsp &nbsp &nbsp 
                        <a href="https://www.instagram.com/" class="fa fa-instagram fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
                        &nbsp &nbsp &nbsp 
                        <a href="https://twitter.com/" class="fa fa-twitter fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
                        &nbsp &nbsp &nbsp 
                        <a href="https://www.facebook.com/" class="fa fa-facebook fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
                
                </div>
           
    </body>
</html>