<html>
    <head> 
        <title>Log In page</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <style>
            .container {
                border-radius: 5px;
                background-color: #f4f4f4;
                padding: 20px;
                width: 15%;
                margin:auto;
                color:red;
                border:2px solid;
              }
            table{
                height: 30%;
                }
              
    </style></head>
    <body>
            <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Paid.html">Paid</a></li>
                    <li><a href="Free.html">Free</a></li>
                    <li><a href="AboutUs.html">About Us</a></li>
                    <li style="float:right;"><a href="LogIn.html">Login In</a></li>
                    <li style="float:right;"><a href="SignIn.html">Sign In</a></li>
            </ul>
        </br></br></br>
<div class="container">
   <h3><center>Log In</center> </h3>
<form action="Home.html">
<table>
<tr>
<td>
<label> Username: </label><br>
<input type="text" id="user" name="username" >
</td>
</tr>
<tr>
<td>
<label> Password: </label> <br>
<input type="password" id="pwd" name="password">
</td>
</tr>
<tr><td><a href="#" style="color:blue;">Forgot password ?</a></td></tr>
<tr>
<td>
<center>
        <button type="submit" onclick="alert('LogIn Success')">Log In</button>
</center>
</td>
</tr>
</table>
</form>
</div>
</br></br></br></br></br></br></br>
<div class="footer">
        Copyright &copy; 2022 All rights reserved
        <a href="https://www.pinterest.com.au/" class="fa fa-pinterest fa "style="float: right; padding-top:5px; padding-right:50px;"></a>
        &nbsp &nbsp &nbsp 
        <a href="https://www.instagram.com/" class="fa fa-instagram fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
        &nbsp &nbsp &nbsp 
        <a href="https://twitter.com/" class="fa fa-twitter fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
        &nbsp &nbsp &nbsp 
        <a href="https://www.facebook.com/" class="fa fa-facebook fa" style="float: right; padding-top:5px; padding-right:50px;"></a>

</div>
</body>
</html>