<!DOCTYPE html>
<html>
    <head>
        <title> Home Page</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
    </head>
    <body><div class="nav">
            <ul>
                    <li><a href="Home.html">Home</a></li>
                    <li><a href="Paid.html">Paid</a></li>
                    <li><a href="Free.html">Free</a></li>
                    <li><a href="AboutUs.html">About Us</a></li>
                    <li style="float:right;"><a href="LogIn.html">Login In</a></li>
                    <li style="float:right;"><a href="SignIn.html">Sign In</a></li>
            </ul>
        </div>
        </br>
        <div class="con5">
            <table cellpadding="5" font-size="5" align="center">
        <tr>
            <th><img id="image" src="Images/Capture.png">
                <br>
                Capture 
                <br>
                Photography
                <br>
                Wheather you are an amateur or professional<br> photographer.
                
                Capture is the photo gallery website<br> template that
                
                will push you fordward in your dream.
                <br>
                Hook them in an instant.<i><u>$59</u></i></pre>
            <ul>
            <li><a target="_blank" href="Capture/Capture.html">&nbsp; &nbsp; &nbsp; &nbsp; Preview &nbsp;&nbsp;  &nbsp; &nbsp;  </a></li>
            </ul>
           </th>
             <th><img id="image" src="Images/Hairsal.png"> 
                <br>
                Hairsal   
                <br>
                
                Salon
                <br>
                Hairsal is short for the best free hair salon
                <br>
                website template you can currently find on the market.
                <br>
                You can use it for a beauty salon website, too.
                <br>
                 It is a 100% stunning and  straightforward .<u><i>$49</i></u>
                 <ul>
            <li>
            <a target="_blank" href="Hairsal/Hairsal.html">  &nbsp;  &nbsp; &nbsp; &nbsp; Preview  &nbsp;&nbsp; &nbsp; &nbsp;  </a></li>
            </ul>
           </th>
            <th><img id="image" src="Images/Coffee.png">
                <br>
                Coffee 
                <br>
                Food
                <br>
				If you missed your cup of joe today, make sure it is the <br>
				next thing you have after checking out this free website 
				template. Any website built with the template has a <br>
				professional and personal touch to it. <i><u>$39</u></i></pre>
            <ul>
            <li><a target="_blank" href="Food/FoodOne.html">&nbsp; &nbsp; &nbsp; &nbsp; Preview &nbsp;&nbsp;  &nbsp; &nbsp;  </a></li>
            </ul>
           </th>       
            </tr>
        </table>
            </div>
<br>            
            <div class="footer">
                        Copyright &copy; 2022 All rights reserved
                        <a href="https://www.pinterest.com.au/" class="fa fa-pinterest fa "style="float: right; padding-top:5px; padding-right:50px;"></a>
                        &nbsp &nbsp &nbsp 
                        <a href="https://www.instagram.com/" class="fa fa-instagram fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
                        &nbsp &nbsp &nbsp 
                        <a href="https://twitter.com/" class="fa fa-twitter fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
                        &nbsp &nbsp &nbsp 
                        <a href="https://www.facebook.com/" class="fa fa-facebook fa" style="float: right; padding-top:5px; padding-right:50px;"></a>
                
                </div>
           
    </body>
</html>